<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>
<style>
body { margin:0; padding:0; }
#map { position:absolute; height: 95%; width:100%; }
</style>

<div id='map'></div>

<div class='save button right'>Save these turfs</div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXN3YW5kIiwiYSI6Ii15YVZETmcifQ.iwFzK-RnFcNDU_msz06eQQ';
var map = L.mapbox.map('map', 'chriswand.kdm86mf3');

var featureGroup = L.featureGroup().addTo(map);

var drawControl = new L.Control.Draw({
  edit: {
    featureGroup: featureGroup
  },
  draw: {
    polygon: true,
    polyline: false,
    rectangle: false,
    circle: false,
    marker: false
  }
}).addTo(map);

var voters = <%= @geojson.html_safe %>

var votersLayer = L.mapbox.featureLayer(voters).addTo(map);

var lists = [];

map.fitBounds(votersLayer.getBounds());

map.on('draw:created', findVoters);

function findVoters(e) {
  var newTurf = map.addLayer(e.layer);
  votersInTurf = []
  for (var i = 0; i < voters.length; i++) {
    if (leafletPip.pointInLayer(voters[i].geometry.coordinates, newTurf, true)[0] === e.layer) {
      voters[i].properties["marker-color"] = "#22FF22";
      votersInTurf.push(voters[i]);
    };
  };
  votersLayer.setGeoJSON(voters);
  lists.push(votersInTurf);
};

$(document).ready(function(){
  $(".save").click(function(e){
    e.preventDefault();
    var listsName = prompt("Enter a name for these lists");
    if (listsName === null) {return};
    var listsData = [];
    for (var i = 0; i < lists.length; i++) {
      var list = lists[i];
      var listName = listsName + " Turf " + (i + 1);
      var voterIDs =[];
      for (var j = 0; j < list.length; j++) {
        voter = list[j];
        voterIDs.push(voter.properties.voter_id);
      };
      listsData.push({ name: listName, voter_ids: voterIDs });
    }
    $.ajax({type: "POST",
      url: "/turfs",
      data: { lists: listsData }
    })
  })
})
</script>
