<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>
<style>
body { margin:0; padding:0; }
#map { position:absolute; height: 80%; width:100%; }
</style>

<div id='map'></div>

<a>Save these turfs</a>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXN3YW5kIiwiYSI6Ii15YVZETmcifQ.iwFzK-RnFcNDU_msz06eQQ';
var map = L.mapbox.map('map', 'chriswand.kdm86mf3');

var featureGroup = L.featureGroup().addTo(map);

var drawControl = new L.Control.Draw({
  edit: {
    featureGroup: featureGroup
  },
  draw: {
    polygon: true,
    polyline: false,
    rectangle: false,
    circle: false,
    marker: false
  }
}).addTo(map);

var voters = <%= @geojson.html_safe %>

var votersLayer = L.mapbox.featureLayer(voters).addTo(map);

map.fitBounds(votersLayer.getBounds());

map.on('draw:created', showPolygonArea);

function showPolygonArea(e) {
  var new_layer = map.addLayer(e.layer);
  if (leafletPip.pointInLayer(marker.geometry.coordinates, new_layer).length > 0) {
    alert("The point is in one of your shapes");
  } else {
    alert("The point is outside your shapes");
  };
}
</script>
