<%= link_to "View this list on a map", map_view_list_path %>
<ul>
  <% @voters.each do |voter| %>
    <li>
      <%= link_to voter.full_name, voter %>
      <%= link_to "Remove #{voter.full_name} from this list",
        list_membership_path(ListMembership.where(
                                  voter_id: voter.id,
                                  list_id: @list.id)[0]),
        method: :delete, data:{ confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<%= paginate @voters %>
